<form name="form" #f="ngForm">
  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw"  [(ngModel)]="psw" required>

    <button type="submit"  (click)="Checklogin(f.value)">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw"><a [routerLink]="['/register']">Register here</a></span>
  </div>
</form>
